*{box-sizing: border-box;
}
header {
    background: #ccc;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

nav{ 
    background: #ccc;
    padding: 20px;
    margin-bottom: 30px;
    color: #333;
    text-align: center;

}
body{
    font-size: 30px;
    background: #666;
    color: #333;
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
    



#article{
    background: #666;
    padding:  10px;
    margin-top: 50px;
    margin-left:10px;
    margin-right:10px;
    height: 150px;
   

}
#h1h2h3{
    background: #ccc;
    margin-top: 10px;
    margin-bottom: 10px;   
}

#p{
    background: #ccc;
margin-top:10px;
margin-bottom:10px;}
   

#full{
    background:#ccc;
    float: left;
    width:45%;
    height: 250px;
   
    margin-bottom: 30px;
    overflow: auto;
}
.aside {
    background:#ccc;
    float: right;
    width:45%;
    height: 250px;
    
    margin-bottom: 30px;
    overflow: auto;
}

footer{
    clear: both;
    background: #ccc;
    padding: 20px;
    margin-top: 100px;
    
    text-align: center;
}